.patchesGrid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 'patches-header' 'patches-body';
    grid-row-gap: var(--ddg-ui-gutter);
    height: 100%;
}

.patchesGridHeader {
    grid-area: patches-header;
}

.patchesGridBody {
    grid-area: patches-body;
    border: 1px dotted pink;
}
