.togglesGrid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas: 'feature-list tracker-feed';
  grid-column-gap: var(--ddg-ui-gutter);
}

.featureList {
  grid-area: feature-list
}
.trackerFeed {
  grid-area: tracker-feed
}



