.row {
  position: relative;
}
.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.row {
  border-bottom: 1px solid rgb(233, 233, 233);
}
.row[data-state='blocked'] {
  background: rgb(255, 210, 210);
}
.row[data-state='allowed'] {
}
.row[data-state='partially-allowlisted'] {
  background: rgb(167, 255, 252);
}
.marker {
  position: absolute;
  left: 0;
  top: 0;
}
.urlCell {
  position: relative;
  overflow: auto;
  white-space: nowrap;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.trackerUrl {
  display: flex;
  align-items: center;
  gap: var(--ddg-ui-gutter);
}
.pageUrl {
  display: block;
  padding-left: 0.5rem;
  opacity: 0.6;
  font-size: 8px;
}
