.row {
    position: relative;
}

.row[data-state="blocked"] {
    background: rgb(255, 210, 210);
}
.row[data-state="allowed"] {

}
.row[data-state="partially-allowlisted"] {
    background: rgb(167, 255, 252);
}
.marker {
    position: absolute;
    left: 0;
    top: 0;
}
.urlCell {
    position: relative;
    overflow: auto;
    white-space: nowrap
}

.trackerUrl {
    display: block;
}
.pageUrl {
    display: block;
    padding-left: .5rem;
    opacity: .6;
    font-size: 8px;
}
